.menu {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  gap: 16px;
}

.menu-item {
  padding: 16px 12px;
}

.notification-icon {}

.exit-icon {
  display: grid;
  align-items: center;
  margin-left: 8px;
}