.move-card-footer {
  margin-left: 8px;

  &.has-favorites > button {
    color: rgba(55, 216, 167, 1);
  }

  & svg {
    width: 25px;
    height: 25px;
  }

  &.has-favorites > svg {
    color: rgba(55, 216, 167, 1);
  }

  & button {
    background-color: transparent;
    display: grid;
    grid-template-columns: auto max-content;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: rgba(123, 110, 246, 1);
    border: none;
    padding: 0;
  }

  & button:hover {
    cursor: pointer;
  }

  & button > svg, button > img {
    margin-right: 10px;
    height: 30px;
  }
}