.movie-card {
  position: relative;
  display: grid;
  width: 282px;
  background-color: rgba(32, 40, 62, 0.8);
  padding: 10px 3px 20px;
  justify-content: center;
  border-radius: 12px;
}

.rate-block {
  position: absolute;
  top: 20px;
  left: 20px;
}

.poster {
  width: 266px;
  height: 400px;
  border-radius: 12px;
}

.name {
  color: #fff;
  font-weight: 600;
  margin: 15px 0 15px 10px;
}